body {
    background-color:   #ECECEC;
    font-family:        Futura;
}

.welcome-splash {
    position:           absolute;
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
    margin:             auto;
    height:             240px;
    width:              70%;
    text-align:         center;
}

.headline {
    font-size:          3em;
    font-weight:        bold;
}

.subtext {
    margin-top:         10px;
    font-size:          1em;
}

.lecture {
    margin-top:         3%;
    width:              300px;
    margin-left:        auto;
    margin-right:       auto;
    color:              #AAAAAA;
}

.options {
    margin-top:         5%;
}
