body {
    background-color:   #ECECEC;
    font-family:        Futura;
}

.welcome-splash {
    margin-top:         30%;
    text-align:         center;
}

.headline {
    font-size:          3em;
    font-weight:        bold;
}

.subtext {
    margin-top:         10px;
    font-size:          1em;
}

.lecture {
    margin-top:         3%;
    width:              300px;
    margin-left:        auto;
    margin-right:       auto;
}

.options {
    margin-top:         5%;
}
